.styleguide {
	padding: 100px 0;

	&__section {
		margin: 50px 0;
	}

	&__header {
		padding-bottom: 10px;
		margin-bottom: 30px;
		border-bottom: 1px solid $color__background-screen;
		text-transform: uppercase;
		font-weight: bold;
	}

	&__color-block {
		width: 130px;
		height: 130px;
	}
}
