$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #aaa;
$color__text-input-disabled: #adadad;
$color__text-input-focus: #111;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__primary-btn: #38918B;
$color__primary-btn--hover: #86BDB9;

/* Gray */
$fresh__gray: #2E333E;
$fresh__gray-light: #BFBFBF;
$fresh__gray-lighter: #F5F3F4;

/* Link Color*/
$color__link: $fresh__gray;
$color__link-visited: $fresh__gray-light;
$color__link-hover: lighten($fresh__gray-light, 10%);
$color__text-main: $fresh__gray-lighter;

/* Cyan*/
$fresh__cyan: #38918B;
$fresh__cyan--light: #86BDB9;

/* Red */

$fresh__red: #FF0044;

// Semantic Use
.bg-gray {
  background-color: $fresh__gray;
}

.bg-gray-light {
  background-color: $fresh__gray-light;
}

.bg-gray-lighter {
  background-color: $fresh__gray-lighter;
}

.bg-cyan {
  background-color: $fresh__cyan;
}

.bg-cyan-light {
  background-color: $fresh__cyan--light;
}

.bg-red {
  background-color: $fresh__red;
}
