a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.btn,
.button {
	padding: 12px 25px;
	background-color: $fresh__cyan;
	color: $white;
	border-radius: 5px;
	transition: all 1s ease-in-out;

	&:hover {
		background-color: $fresh__cyan--light;
	}
}
