.site-footer {
  padding: 30px 0;
  background-color: $fresh__gray;
  color: $color__background-body;
  text-align: center;

  a {
    color: $color__background-body;
  }

  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    &__item {
      margin: 0 5px;

      i {
        font-size: 30px;
      }
    }

  }
}
